body {
    margin: 0;
    padding: 0;
    background-image: url('FotoBG/bg2.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.content-wrap {
    padding: 20px;
}

@media (max-width: 768px) {
    body {
        background-size: cover; 
    }
}
