nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1b2430;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    width: 100%; 
    max-width: 1479px; 
    margin: 0 auto; 
    height: 25px; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 2; 
  }
  
  .App-body {
    display: inline;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  
  .logo {
    width: 390px; 
    height: auto;
    transform: none;
    margin-top: 30px; 
    filter: drop-shadow(20px 30px 7px rgba(22, 22, 22, 0.514)); 
    z-index: -1; 
  }
  